requests
beautifulsoup4
langchain-community
langchain-core
langchain-groq
langgraph
qdrant-client
python-dotenv
kiwipiepy
rank_bm25
httpx
groq
fastapi
uvicorn
pydantic
easyocr
opencv-python-headless
mmh3
numpy
playwright
pandas
python-docx
PyMuPDF==1.24.13
lxml
langgraph-checkpoint-postgres
psycopg-pool
psycopg[binary]
fastmcp